saved_models/
datasets/raw_data
.DS_Store
*/AI Project /datasets/.complete/datasets/cynthiarempel/amazon-us-customer-reviews-dataset/9/amazon_reviews_us_Software_v1_00.tsv.complete
*/AI Project /datasets/amazon_reviews_us_Software_v1_00.tsv
datasets/.complete/datasets